h2 {
  margin: 0;
}

h2 a{
  color: #333;
  text-decoration: none;
}

img {
  width: 500px;
}

.mapStyle {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

//constrain infowindow size
//float image right of text, if no image, expand text to fill infowindow
//round borders of infowindow
